@import "../../vars.css";


.page {
    background-color: black;
    height: 100vh;
}
.text{
    background-color: black;
    font-family: 'Courier New';
    color: #00FF41;
    white-space: pre-line;
}
.matrixInput {
    color: #00FF41; /* Text color */
    background-color: black; /* Background color */
    border: 1px solid black; /* Default border color */
    width: 100%;
    font-family: 'Courier New';
  }
  
.matrixInput:focus {
    outline: none; /* Remove default focus outline */
}
.container {
    background-color: black; /* Background color */
    display: flex;           /* Use flexbox layout */
    align-items: center;    /* Center items vertically */
}


/*  */