@import "../../vars.css";

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');



.rectangle {
  resize: none;
  border: 1px solid #ccc;
  box-sizing: border-box;

  display: flex;           /* enable flex layout */
  align-items: center;     /* vertical centering */
  justify-content: center; /* horizontal centering */

  font-family: Arial, sans-serif;
  font-size: var(--font-size);
  caret-color: transparent;
  outline: none;

  background-color: var(--bg-color);
  user-select: none;
  text-align: center;      /* fallback for horizontal centering */
  margin: 0;               /* remove default p margin */
  padding: 0;              /* remove default p padding */
}



.cellWrapper {
  position: relative;
  display: inline-block;
}

.text {
    color: black;
    position: absolute;
    top: 2px;    /* lock to top of the cell */
    left: 4px;   /* lock to left */
    z-index: 2;
    font-family: 'Libre Franklin', sans-serif;
    font-size:var(--font-size);
}

.rectangle:hover {
    cursor: default;
}


