@import "../../vars.css";

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');


.cluetext {
  font-family: Arial;
  overflow-wrap: break-word;

}


.cluerec {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-start;
}

.numcoltext{
   word-wrap: break-word;      /* allow wrapping */
  white-space: normal;         /* allow wrapping on spaces */
  overflow-wrap: break-word;
}

.numcol {
  margin: 10px;
}

.cluecol {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-right: 50px;
  width: 350px;
}