@import "../../vars.css";

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');



.page {
    background-color: white;
    color: black;
    font-family: 'Arial'
}

p {
    font-family: 'Libre Franklin', sans-serif;
};


/*  */