@import "../../vars.css";

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');



.page {
    background-color: white;
    color: black;
    font-family: 'Arial';
    height: 100vh;

}


button {
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  border-width: 0px;
  background-color: 0;
  transition: opacity 0.2s ease;
}

.clear {
    margin-left: 10px;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.autocheck {
    text-align: right;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Libre Franklin', sans-serif;
    padding-top: 10px;
}

.rec{
    position: relative;
}

.cluecontainer {
    margin-right: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: right;
    transition: opacity 0.2s ease;
}

.winnerText{
    font-family: 'Libre Franklin', sans-serif;
    text-align: right;
    margin-top: 120px;
    margin-right: -800px;
}

.winnercontainer {
    transition: transform 1s ease;
}

.col1 {
    width: 400px;
    text-align: left;
}
.col2 {
    width: 400px;
}

p {
    font-family: 'Libre Franklin', sans-serif;
};



/*  */